.body-wrapper {
    //background-color: #0f1318;
    color: #b5cbd1;;
}

.wrap-front-page {
    .site-main {
        article {
            p {
                color: #b5cbd1;
            }
        }
    }
    h2{
        color: #b5cbd1;
    }
}